/* Empty. Add your own CSS if you like */

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
.leaflet-gmx-location-window {
	width: inherit;
	min-width: 266px;
}
.cadInfo .cadNum {
    font-weight: bold;
}
.cadInfo .address {
    font-style: italic;
    font-family: sans-serif;
}
.cadInfo .red {
    color: red;
}
.leaflet-map-pane {
    cursor: crosshair;
}
.cadInfo .showPolygon {
    text-decoration: underline;
    cursor: pointer;
    margin: 2px;
}
.cadInfo .cadItem  {
    border-width: 1px;
    border-style: dashed;
    padding: 2px;
    margin: 2px;
}